h1 {
  font-family: 'Times New Roman', Times, serif;
  background-color: bisque;
  font-size: 45px;
}
.navi {
  display: flex;
  text-align: center;
  float: right;
  font-size:medium;
  margin: 10px;
}

.intro {
  margin-left: 10%;
}


.wisdom {
  
  text-align: center;
  font-style: italic;
  font-weight: 600;
  font-family: cursive;
  margin: 150px;
  font-size: 40px;

  
}
.about {
  display: flex;
  background-color:bisque;
  margin: 20px;
}
#about {
  font-size: 30px;
}
#fam {
  float: right;
  font-size: 22px;
}


