h1 {
  font-family: 'Times New Roman', Times, serif;
  background-color: bisque;
  font-size: 45px;
}
.navi {
  display: flex;
  text-align: center;
  float: right;
  font-size:medium;
  margin: 10px;
  border: 3px solid black;
  padding: 5px;
}

.intro {
  margin-left: 10%;
  margin-right: 10%;
}


.wisdom {
  
  text-align: center;
  font-style: italic;
  font-weight: 600;
  font-family: cursive;
  margin: 150px;
  font-size: 40px;

  
}
div {
  display: flex;
  background-color:bisque;
  margin: 40px;
  align-items: center;
  justify-content: center;
}
#about {
  font-size: 30px;
}
.fam {
  
  font-size: 28px;
}
#update{
  font-size: 25px;
  font-style:italic;
}
form {
  display: flex;
  font-size: 26px;
}
#contact {
  font-size:larger;
}
h2 {
  margin: 10px;
}
.room {
  width: 200%;
}


